<%= form_with(model: [ @project, @project.tasks.build ], local: true) do |form| %>

 <div class="field">
    <div class="control">
    <%= form.label :title %><br>
    <%= form.text_field :title %>
  </div>
</div>
  <div class="field">
    <div class="control">
    <%= form.label :description, label_html: { class: "label" } %><br>
    <%= form.text_area :description %>
  </div>
</div>
  <div class="field">
    <div class="control">
    <%= form.select(:status, options_for_select([['new','new' ], ['in progress','in progress'],['done', 'done']])) %>
  </div>
</div>
  <div class="field">
    <div class="control">
    <%= form.submit %>
  </div>
</div>
<% end %>


