<section class="section">
  
<div class="container has-text-centered">
<h1 class="title has-text-grey">Projects</h1>
</div>

    <% @projects.each do |project| %>
    <div class="box">
     
      <h3 class="title has-text-grey">  <%= project.name %> </h3>
       <p class="subtitle has-text-grey"> <%= project.summary %> </p>
      
        <%= link_to "Read More", project_path(project), :class => "button is-link" %>
          <% if current_user && current_user.admin %>
          <%= link_to 'Edit', edit_project_path(project), :class => "button is-info"%>
          <%= link_to 'Destroy', project, method: :delete, data: { confirm: 'Are you sure?' }, :class => "button is-danger"%>
        <% end %>
     
    </div>
      <% end %> 
 
</section>

        

        


