<div class="container">
<section class="articles">

<div class="column is-8 is-offset-2">
                <!-- START ARTICLE -->
                <div class="card article">
                    <div class="card-content">
                        <div class="media">
                            <div class="media-content has-text-centered">
                            	 <p class="title article-title"> <%= @project.name %></p>

                                <div class="tags has-addons level-item">
                                    <span class="tag is-rounded is-info"> Start date </span>
                                    <span class="tag is-rounded"><%= @project.start_date %></span>
                                    <span class="tag "><%= @project.user.email %></span>
                                </div>
                            </div>
                        </div>
                        <div class="content article-body">
                            <p><%= @project.summary %> </p>
                            
                        </div>
                        <div class="tags has-addons level-item">
                                    <span class="tag is-rounded is-info"> End date </span>
                                    <span class="tag is-rounded"><%= @project.end_date %></span>
                                </div>
                    </div>
 						<div class="media-content has-text-centered">
 							 <% if current_user %>
							<%= link_to 'Edit', edit_project_path(@project), :class => "button is-primary is-medium" %> 
							<% end %>
						</div>
<span class="tag ">Created: <%= @project.user.first_name %> <%= @project.user.last_name %></span>
                	</div>
                <!-- END ARTICLE -->
            </div>



<h2 class="title has-text-centered">Your Tasks: <%= @project.tasks.count %></h2>
<br />
<% if @project.tasks.empty? %>
<h4 class="title has-text-centered">It looks like you don't have any tasks. Why not create new one?</h4>
<% else %>
<%= render @project.tasks %>
<% end %>
<br />
<div class="box has-text-centered">
   <h2 class="title">Add a task</h2>
<%= render 'tasks/form' %> 
</div>






<%= link_to 'Back', projects_path, :class => "button is-link" %>

        </section>
    </div>




